<?xml version="1.0" encoding="utf-8"?>
<siteConfig>
  <siteOpen>1</siteOpen>
  <webName>DTCMS内容管理系统</webName>
  <webDomain>http://www.91aspx.com</webDomain>
  <cmsPath>/</cmsPath>
  <htmlPath>/archive</htmlPath>
  <indexFilename>index.html</indexFilename>
  <metaKeyword>电脑编程网,打造最全的电脑编程学习网站</metaKeyword>
  <metaDescription>web开发,javascript,xml</metaDescription>
  <copyRight>
    <![CDATA[
    Powered by <a href="http://www.91aspx.com/" target="_blank">DTCMS V1.0</a> &copy;2010
    ]]>
  </copyRight>
  <adminEmail>admin@91aspx.com</adminEmail>
  <beian>闽ICP备08003476号</beian>
  <visitType>1</visitType>
  <defaultTemplet>default</defaultTemplet>
  <indexTemplet>/{$Templet}/article/index.html</indexTemplet>
  <listTemplet>/{$Templet}/article/list.html</listTemplet>
  <archiveTemplet>/{$Templet}/article/article.html</archiveTemplet>
  <indexRule>{$ClassPath}/index.html</indexRule>
  <listRule>{$ClassPath}/list_{$page}.html</listRule>
  <archiveRule>{$ClassPath}/{$DateTime format="yyyyMM"}/{$ID}.html</archiveRule>
</siteConfig>