<?xml version="1.0" encoding="utf-8"?>
<Attachment>
  <Path>uploads\users</Path><!--附件存放路径用\\分隔-->
  <ContentLength>1024*1024*10</ContentLength><!--文件上传最大值，单位字节-->
  <ImageFormat>jpg|jpeg|bmp|gif|png</ImageFormat><!--上传格式,用|分隔-->
  <VideoFormat>avi</VideoFormat><!--视频格式,用|分隔-->
  <AudioFormat>mp3</AudioFormat><!--音频格式,用|分隔-->
  <FlashFormat>swf|fla</FlashFormat><!--Flash格式,用|分隔-->
  <AttachmentFormat>doc|txt|rar|zip</AttachmentFormat><!--附件格式,用|分隔-->

</Attachment>
