<?xml version="1.0" encoding="utf-8"?>
<BaseSeting>
  <Tag>
    <Tr>
      <Name>C#</Name>
    </Tr>
    <Tr>
      <Name>语文</Name>
    </Tr>
    <Tr>
      <Name>ASP.NET</Name>
    </Tr>
    <Tr>
      <Name>adfg</Name>
    </Tr>
    <Tr>
      <Name>adf</Name>
    </Tr>
    <Tr>
      <Name>af</Name>
    </Tr>
  </Tag>
  <Author>
    <Tr>
      <Name>微风</Name>
      <Email>jwf@dtcms.com</Email>
    </Tr>
    <Tr>
      <Name>潘兴</Name>
      <Email>px@dtcms.com</Email>
    </Tr>
    <Tr>
      <Name>欲火</Name>
      <Email>yh@dtcms.com</Email>
    </Tr>
    <Tr>
      <Name>admin</Name>
      <Email>admin@dtcms.com</Email>
    </Tr>
  </Author>
  <NewsSource>
    <Tr>
      <Name>admin</Name>
      <Url>http://pc123.org</Url>
    </Tr>
  </NewsSource>
</BaseSeting>