<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--TAG-->
  <baseseting key="tag" value="关键字" pkey="">
    <item key="title" value="C#,ASP.NET,JAVA" pkey="" />
  </baseseting>
  
  <!--作者-->
  <baseseting key="author" value="作者" pkey="">
    <item key="title" value="张三,李四,王五" pkey="" />
  </baseseting>
  
  <!--责任编辑-->
  <baseseting key="editor" value="作者" pkey="">
    <item key="title" value="" pkey="" />
  </baseseting>

  <!--文章来源-->
  <baseseting key="newssource" value="文章来源" pkey="">
    <item key="title" value="来源一,来源二,来源三" pkey="" />
  </baseseting>
    
</configuration>