<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--class-->
  <section key="class_type" value="栏目类型" pkey="">    
    <item key="1" value="文章" pkey="" />
    <item key="2" value="图片" pkey="" />
    <item key="3" value="视频" pkey="" />
    <item key="4" value="音频" pkey="" />
  </section>

  <section key="class_readaccess" value="阅读权限" pkey="">
    <item key="1" value="管理员" pkey="" />
    <item key="2" value="高级会员" pkey="" />
    <item key="3" value="会员" pkey="" />
    <item key="4" value="游客" pkey="" />
  </section>

  <section key="class_checklevel" value="审核机制" pkey="">
    <item key="1" value="不审核" pkey="" />
    <item key="2" value="一级审核" pkey="" />
    <item key="3" value="二级审核" pkey="" />
    <item key="4" value="三级审核" pkey="" />
  </section>

  <!--news-->
  <section key="news_titleflag" value="文章类型" pkey="">
    <item key="1" value="原创" pkey="" />
    <item key="2" value="转载" pkey="" />
  </section>
</configuration>
