<?xml version="1.0" encoding="utf-8"?>
<!--图片配置-->
<photo>
  <path>admin\\files\\photo</path>
  <!--图片存放路径用\\分隔-->
  <contentLength>1024*1024*10</contentLength>
  <!--文件上传最大值，单位字节-->
  <format>jpg|jpeg|bmp|gif|png</format>
  <!--上传格式,用|分隔-->
  <HasAbbrImage>1</HasAbbrImage>
  <!--是否生成缩略图-->
  <HasWaterMark>1</HasWaterMark>
  <!--原图是否水印-->
  <HasAbbrWaterMark>0</HasAbbrWaterMark>
  <!--缩略图是否水印-->
</photo>
