<?xml version="1.0" encoding="utf-8"?>
<UrlRewriteInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <UrlRewrite>
    <Name>Detail</Name>
    <Path>{0}/tuan_{1}.aspx</Path>
    <Pattern>(^[A-Za-z]+)/tuan_(\d+).aspx</Pattern>
    <Page>tuan.aspx</Page>
    <QueryString><![CDATA[city=$1&tid=$2]]></QueryString>
  </UrlRewrite>
  <UrlRewrite>
    <Name>List</Name>
    <Path>{0}/list_{1}_{2}.aspx</Path>
    <Pattern>(^[A-Za-z]+)/list.aspx</Pattern>
    <Page>list.aspx</Page>
    <QueryString><![CDATA[city=$1]]></QueryString>
  </UrlRewrite>
</UrlRewriteInfo>