*{
	padding:0px;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
html,body {
	text-align:center;
}
ul{
	list-style:none;
}

#container{
	width:500px;
	text-align:left;
	margin:135px auto auto auto;
}
#title{
	width:500px;
	height:33px;
	background:url(../images/common/dialog_tl.png) no-repeat;
	position:relative;
}
#title .close{
	top:8px;
	right:15px;
	width:28px;
	height:17px;
	position:absolute;
	background:url(../images/common/dialog_close.gif) no-repeat;
}
#title .title_r{
	width:13px;
	height:33px;
	top:0px;
	right:0px;
	position:absolute;
	background:url(../images/common/dialog_tr.png) no-repeat #FFF;
}
#title h1{
	color:#FFF;
	font-size:12px;
	padding-top:13px;
	text-indent:35px;
	background:url(../images/common/icon_dialog.gif) 18px 15px no-repeat;
}
#content
{
	background:url(../images/common/dialog_ml.png) no-repeat;
}
#content .content_r{
	padding:13px;
	background:url(../images/common/dialog_mr.png) top right no-repeat;
}
#message_icon{
	width:100px;
	height:100px;
	float:left;
}
#message
{
	width:330px;
	padding:15px;
	font-size:12px;
	line-height:20px;
	float:left;
	color:#333;
}
#content .link{
	text-align:center;
	background:#F6F6F6;
	padding-top:6px;
	border-top:1px #DADEE5 solid;
}
#content .link a{
	font-size:13px;
	color:#0386CC;
	text-decoration:none;
}
#bottom{
	height:13px;
	position:relative;
	background:url(../images/common/dialog_bl.png) no-repeat;
}
#bottom .bottom_r{
	height:13px;
	width:13px;
	position:absolute;
	top:0px;
	right:0px;
	background:url(../images/common/dialog_br.png) no-repeat #FFF;
}
.Success{
	background:url(../images/common/ico_Success.png) 16px 16px no-repeat;
}
.Error{
	background:url(../images/common/ico_Error.png) 16px 16px no-repeat;
}
.Warning{
	background:url(../images/common/ico_Warning.png) 16px 16px no-repeat;
}
.Stop{
	background:url(../images/common/ico_Stop.png) 16px 16px no-repeat;
}
.Question{
	background:url(../images/common/ico_Question.png) 16px 16px no-repeat;
}
.Information{
	background:url(../images/common/ico_Information.png) 16px 16px no-repeat;
}