*
{
	padding:0;
	margin:0;
}
.popup_prompt{
	border:1px solid #909090; 
	background:#FFE; 
}
.popup_prompt .popup_header{
	background:#C0C0C0 url(/admin/images/blue/ico_title.gif) 5px 1px no-repeat;
	height:25px;
	margin:1px;
}
.popup_prompt h1{
	font-size:13px;
	font-weight:bold;
	text-indent:25px;
	padding-top:7px;
}
.popup_prompt .popup_content
{
	margin:1px;
	padding:10px;
	font-size:13px;
}
.popup_prompt .buttonRow
{
	height:30px;
	line-height:30px;
	background:#E0E0E0;
	text-align:right;
	margin:1px;
}
.popup_prompt input
{
	color:#555;
	border:1px solid #808080;
	margin-right:5px;
	height:20px;
	line-height:18px;
	padding:0px 3px;
}