<?xml version="1.0" encoding="utf-8"?>
<CMSConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DbType>DTCMS.SqlServerDAL</DbType>
  <DbConnection>Data Source=.;Database=dtcms;UID=sa;Pwd=123;</DbConnection>
  <TablePrefix>DT_</TablePrefix>
  <FounderID>1</FounderID>
</CMSConfig>
