@charset "utf-8";
/* CSS Document */
/* www.codefans.net*/
/*myLayout*/
.boxauto{ margin:0 auto;}
.boxborder{ border:1px solid #e1e1e1;}

body{ margin:0 auto; font:12px Verdana, Geneva, sans-serif, Helvetica, sans-serif; color:#666;}
body,a{ color:#666; text-decoration:none;}
.block,p,li,ul,form,h1,h2,h3,h4,h5,h6,dl,dt,dd{ margin:0; padding:0; display:block;}
li{ list-style:none;}
.ellip li,.ellip2 span,.ellip3 dt,.ellip3 dd,.ellip4 p,.ellip5{ overflow:hidden; text-overflow:ellipsis; white-space: nowrap; word-break:keep-all;} 
a img{ border:0;}
.inline{ display:inline;}
.inlineList li{ display:inline;}
.inline-block{ display:inline-block;}

.global_lineheight{ line-height:20px;}
.common_602_auto{ width:602px;}
.auto,.common_600_auto,.common_602_auto{ margin:0 auto;}
.common_600_auto,.common_600{  width:600px;}
.common_600{float:left;}
.margin_topstyle{ margin-top:9px;}
dt{ font-weight:bold; line-height:24px; font-size:14px;}
.red{ color:#f00; }
.mar_top1{ margin-top:9px;}

.border_style{ float:left; overflow:hidden; border:1px solid #e1e1e1;}
.fr_tt,.fr_ct{ overflow:hidden; float:left;width:100%; }
.fr_tt{ line-height:28px; border-bottom:1px dotted #e1e1e1;}
.fr_ct div{  padding:9px 12px;}
.spl, .spr a{ float:left;}
.spr{ float:right;}
.fr_tt .spl{ margin-left:12px; font-size:16px; font-weight:bold;}
.fr_tt .spr{ margin-right:12px;}


.pointer,.sub{ cursor:pointer;}
.sub{ border:1px solid #e1e1e1; height:20px; line-height:20px; background:#fff;}
.in1,select{ height:18px; border:1px solid #e1e1e1; line-height:18px;}
textarea{ border:1px solid #e1e1e1;}

.message_container{ /*background: #BEBEBE; opacity:0.8; filter:alpha(opacity=80);*/ background:url(index.png); height:100%; margin:0 auto;left:0; top:0;position:absolute; width:100%; padding-top:200px;}
.message_wraper{ margin:0 auto;}
.message_container{ display:none;}
.message_wraper{ /*display:none;*/}
/*
while
	.message_container,.message_wraper{ display:block;}
do
	body{margin:0; padding:0; overflow:hidden; height:100%;}
*/
.message_fr{}
.message_fr .fr_tt{ border:0;width:100%!important; line-height:29px!important; height:29px;}
.message_fr .fr_tt .l_bg,.message_fr .fr_tt .m_bg,.message_fr .fr_tt .r_bg{ margin:0!important;}
.message_fr .fr_tt .l_bg{background:url(messageInfo.gif) left top no-repeat; width:30px;}
.message_fr .fr_tt .m_bg{ color:#fff; font-weight:bold; font-size:12px!important;background:url(messageInfo.gif) 0 -29px repeat-x;}
.message_fr .fr_tt .m_bg span{ cursor:text;}
.message_fr .fr_tt .r_bg{ cursor:pointer; width:30px;background:url(messageInfo.gif) left -58px no-repeat;}
.message_fr .fr_ct .in{ border:1px solid #ccc; }
.message_fr .fr_ct{ background:#fff; border:1px solid #ba3232;  padding-top:10px; border-top:0!important;}
.message_fr .fr_content{ padding-bottom:11px;}
.message_fr .fr_content,.message_fr .button_div{ float:left; overflow:hidden; width:100%;}
.message_fr .button_div{ padding-bottom:11px;border-top:1px solid #e0ccc5;}
.message_fr .button_ok{ height:20px; line-height:20px; float:right; border:1px solid #c0855d;background:url(messageInfo.gif) left -87px repeat-x ; padding:0 15px; margin:13px 10px 0px 0px; letter-spacing:6px; cursor:pointer;}
.message_fr .button_ok2{background:url(messageInfo.gif) left -107px repeat-x!important ;}
.message_fr .button_ok  a:hover{ text-decoration:none;}



.vetical_img_bottom .img{ vertical-align: bottom;}
.vetical_img_bottom  .img i{ display:inline-block; vertical-align: bottom; height:100%;}
.vetical_img_bottom  img{ vertical-align: bottom;}

.vetical_img_middle .img{ vertical-align:middle;}
.vetical_img_middle  .img i{ display:inline-block; vertical-align:middle; height:100%;}
.vetical_img_middle  img{ vertical-align:middle;}

