/****** 对象:  Default [DF_TN_City_IsHidden]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_City_IsHidden]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_City]'))
Begin
ALTER TABLE [dbo].[TN_City] DROP CONSTRAINT [DF_TN_City_IsHidden]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_UserID]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_UserID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_UserID]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_MarketPrice]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_MarketPrice]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_MarketPrice]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_TuanPrice]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_TuanPrice]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_TuanPrice]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_Rebate]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_Rebate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_Rebate]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_BuyCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_BuyCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_BuyCount]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_ClickCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_ClickCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_ClickCount]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_CommentCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_CommentCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_CommentCount]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_PointCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_PointCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_PointCount]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_Statu]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_Statu]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_Statu]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_Rank]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_Rank]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_Rank]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_AddDate]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_AddDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_AddDate]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_OrderID]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_OrderID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] DROP CONSTRAINT [DF_TN_TuanGou_OrderID]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_UserID]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_UserID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_UserID]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_TuanCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_TuanCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_TuanCount]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_CommentCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_CommentCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_CommentCount]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_ClickCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_ClickCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_ClickCount]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_SiteType]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_SiteType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_SiteType]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_Rank]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_Rank]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_Rank]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_Trust]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_Trust]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_Trust]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_IsVerify]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_IsVerify]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_IsVerify]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_AddDate]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_AddDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] DROP CONSTRAINT [DF_TN_TuanSite_AddDate]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_GroupType]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_GroupType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_GroupType]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_CreditBegin]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_CreditBegin]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_CreditBegin]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_CreditEnd]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_CreditEnd]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_CreditEnd]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_stars]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_stars]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_stars]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowPost]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowPost]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_AllowPost]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowComment]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowComment]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_AllowComment]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowAvatar]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowAvatar]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_AllowAvatar]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowTransfer]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowTransfer]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_AllowTransfer]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowViewInfo]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowViewInfo]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_AllowViewInfo]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowNickname]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowNickname]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] DROP CONSTRAINT [DF_TN_Pre_Usergroup_AllowNickname]

End
GO
/****** 对象:  Default [DF_TN_Users_Sex]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_Sex]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_Sex]

End
GO
/****** 对象:  Default [DF_TN_Users_RoleID]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_RoleID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_RoleID]

End
GO
/****** 对象:  Default [DF_TN_Users_UsergroupID]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_UsergroupID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_UsergroupID]

End
GO
/****** 对象:  Default [DF_TN_Users_RegisterDate]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_RegisterDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_RegisterDate]

End
GO
/****** 对象:  Default [DF_TN_Users_LastloginTime]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_LastloginTime]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_LastloginTime]

End
GO
/****** 对象:  Default [DF_TN_Users_LoginCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_LoginCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_LoginCount]

End
GO
/****** 对象:  Default [DF_TN_Users_OnlineTime]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_OnlineTime]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_OnlineTime]

End
GO
/****** 对象:  Default [DF_TN_Users_Credits]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_Credits]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_Credits]

End
GO
/****** 对象:  Default [DF_TN_Users_ExtCredits1]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_ExtCredits1]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_ExtCredits1]

End
GO
/****** 对象:  Default [DF_TN_Users_ExtCredits2]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_ExtCredits2]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_ExtCredits2]

End
GO
/****** 对象:  Default [DF_TN_Users_ExtCredits3]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_ExtCredits3]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_ExtCredits3]

End
GO
/****** 对象:  Default [DF_TN_Users_PmCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_PmCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_PmCount]

End
GO
/****** 对象:  Default [DF_TN_Users_IsVerify]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_IsVerify]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_IsVerify]

End
GO
/****** 对象:  Default [DF_TN_Users_IsForbidden]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_IsForbidden]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] DROP CONSTRAINT [DF_TN_Users_IsForbidden]

End
GO
/****** 对象:  StoredProcedure [dbo].[Proc_UserLogin]    脚本日期: 10/31/2010 01:12:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UserLogin]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UserLogin]
GO
/****** 对象:  StoredProcedure [dbo].[Proc_TuanGou_AddOrUpdate]    脚本日期: 10/31/2010 01:12:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_TuanGou_AddOrUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_TuanGou_AddOrUpdate]
GO
/****** 对象:  StoredProcedure [dbo].[Proc_GetTuanGouListByCityID]    脚本日期: 10/31/2010 01:12:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetTuanGouListByCityID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetTuanGouListByCityID]
GO
/****** 对象:  StoredProcedure [dbo].[Proc_GetBaseStats]    脚本日期: 10/31/2010 01:12:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetBaseStats]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetBaseStats]
GO
/****** 对象:  Table [dbo].[TN_SubTuan]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_SubTuan]') AND type in (N'U'))
DROP TABLE [dbo].[TN_SubTuan]
GO
/****** 对象:  Table [dbo].[TN_Users]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_Users]') AND type in (N'U'))
DROP TABLE [dbo].[TN_Users]
GO
/****** 对象:  Table [dbo].[TN_TuanGou]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]') AND type in (N'U'))
DROP TABLE [dbo].[TN_TuanGou]
GO
/****** 对象:  Table [dbo].[TN_TuanPoint]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_TuanPoint]') AND type in (N'U'))
DROP TABLE [dbo].[TN_TuanPoint]
GO
/****** 对象:  Table [dbo].[TN_City]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_City]') AND type in (N'U'))
DROP TABLE [dbo].[TN_City]
GO
/****** 对象:  Table [dbo].[TN_SiteComment]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_SiteComment]') AND type in (N'U'))
DROP TABLE [dbo].[TN_SiteComment]
GO
/****** 对象:  Table [dbo].[TN_TuanComment]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_TuanComment]') AND type in (N'U'))
DROP TABLE [dbo].[TN_TuanComment]
GO
/****** 对象:  Table [dbo].[TN_Category]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_Category]') AND type in (N'U'))
DROP TABLE [dbo].[TN_Category]
GO
/****** 对象:  Table [dbo].[TN_TuanSite]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]') AND type in (N'U'))
DROP TABLE [dbo].[TN_TuanSite]
GO
/****** 对象:  Table [dbo].[TN_Usergroup]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]') AND type in (N'U'))
DROP TABLE [dbo].[TN_Usergroup]
GO
/****** 对象:  Table [dbo].[TN_Roles]    脚本日期: 10/31/2010 01:12:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_Roles]') AND type in (N'U'))
DROP TABLE [dbo].[TN_Roles]
GO
/****** 对象:  Table [dbo].[TN_Roles]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_Roles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [varchar](20) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Description] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[OrderID] [char](10) COLLATE Chinese_PRC_CI_AS NULL,
 CONSTRAINT [PK_TN_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** 对象:  Table [dbo].[TN_Usergroup]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_Usergroup](
	[GroupID] [int] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[GroupName] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[Description] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[CreditBegin] [int] NULL,
	[CreditEnd] [int] NULL,
	[stars] [tinyint] NULL,
	[GroupAvatar] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[AllowPost] [tinyint] NULL,
	[AllowComment] [tinyint] NULL,
	[AllowAvatar] [tinyint] NULL,
	[AllowTransfer] [tinyint] NULL,
	[AllowViewInfo] [tinyint] NULL,
	[AllowNickname] [tinyint] NULL,
	[MaxPMNum] [smallint] NULL,
	[MaxSignSize] [smallint] NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_TN_Pre_Usergroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'GroupID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'GroupID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'Type'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组类型，0系统组，1管理组，2商家组，3用户组' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'Type'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'GroupName'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'GroupName'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'Description'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'Description'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'CreditBegin'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'开始积分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'CreditBegin'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'CreditEnd'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'结束积分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'CreditEnd'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'stars'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'星星等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'stars'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'GroupAvatar'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组头像' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'GroupAvatar'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'AllowPost'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许发布团购，1允许，0不允许' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'AllowPost'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'AllowComment'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许评论' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'AllowComment'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'AllowAvatar'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许使用头像，0不允许，1允许使用系统自带头像，2允许使用URL地址头像，3允许使用上传头像' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'AllowAvatar'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'AllowTransfer'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许积分转账' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'AllowTransfer'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'AllowViewInfo'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许查看其他用户资料' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'AllowViewInfo'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'AllowNickname'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许使用昵称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'AllowNickname'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'MaxPMNum'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'短消息最大条数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'MaxPMNum'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'MaxSignSize'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'签名最大字节数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'MaxSignSize'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Usergroup', N'COLUMN',N'OrderID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Usergroup', @level2type=N'COLUMN',@level2name=N'OrderID'
GO
INSERT [dbo].[TN_Usergroup] ([GroupID], [Type], [GroupName], [Description], [CreditBegin], [CreditEnd], [stars], [GroupAvatar], [AllowPost], [AllowComment], [AllowAvatar], [AllowTransfer], [AllowViewInfo], [AllowNickname], [MaxPMNum], [MaxSignSize], [OrderID]) VALUES (1, 0, N'系统管理组', N'拥有系统最高权限', 0, 0, 16, NULL, 1, 1, 1, 1, 1, 1, 200, 200, 1)
INSERT [dbo].[TN_Usergroup] ([GroupID], [Type], [GroupName], [Description], [CreditBegin], [CreditEnd], [stars], [GroupAvatar], [AllowPost], [AllowComment], [AllowAvatar], [AllowTransfer], [AllowViewInfo], [AllowNickname], [MaxPMNum], [MaxSignSize], [OrderID]) VALUES (2, 1, N'管理组', N'具用所有管理权限，无系统配置权限', 0, 0, 15, NULL, 1, 1, 1, 1, 1, 1, 100, 200, 2)
INSERT [dbo].[TN_Usergroup] ([GroupID], [Type], [GroupName], [Description], [CreditBegin], [CreditEnd], [stars], [GroupAvatar], [AllowPost], [AllowComment], [AllowAvatar], [AllowTransfer], [AllowViewInfo], [AllowNickname], [MaxPMNum], [MaxSignSize], [OrderID]) VALUES (3, 2, N'团购商家', N'团购商家，具有发布团购信息权限', 0, 0, 10, NULL, 1, 1, 1, 1, 1, 1, 100, 150, 3)
/****** 对象:  Table [dbo].[TN_TuanSite]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_TuanSite](
	[SiteID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CityID] [int] NOT NULL,
	[SiteUrl] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[LogoUrl] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[ApiUrl] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[SiteName] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Description] [varchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[OpenDate] [datetime] NULL,
	[CategoryID] [int] NULL,
	[TuanCount] [int] NULL,
	[CommentCount] [int] NULL,
	[ClickCount] [int] NULL,
	[Master] [varchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[ContactPerson] [varchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[Phone] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[Email] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[QQ] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[ApiTypeID] [tinyint] NULL,
	[SiteType] [tinyint] NULL,
	[Rank] [tinyint] NULL,
	[Trust] [tinyint] NULL,
	[IsVerify] [tinyint] NULL,
	[AddDate] [datetime] NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_TN_TuanSite_1] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON),
 CONSTRAINT [AK_SiteName] UNIQUE NONCLUSTERED 
(
	[SiteName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'SiteID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购网站ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'SiteID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'UserID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'UserID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'CityID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所在城市' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'CityID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'SiteName'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购网站名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'SiteName'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'Description'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'Description'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'OpenDate'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'开团日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'OpenDate'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'CategoryID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'CategoryID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'TuanCount'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'开团次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'TuanCount'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'Master'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'网站创始人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'Master'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'ContactPerson'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'联系人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'ContactPerson'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'SiteType'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'站点类型，1公司，0个人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'SiteType'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'Rank'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'Rank'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'Trust'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'信任度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'Trust'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanSite', N'COLUMN',N'IsVerify'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否审核' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanSite', @level2type=N'COLUMN',@level2name=N'IsVerify'
GO
SET IDENTITY_INSERT [dbo].[TN_TuanSite] ON
INSERT [dbo].[TN_TuanSite] ([SiteID], [UserID], [CityID], [SiteUrl], [LogoUrl], [ApiUrl], [SiteName], [Description], [OpenDate], [CategoryID], [TuanCount], [CommentCount], [ClickCount], [Master], [ContactPerson], [Phone], [Email], [QQ], [ApiTypeID], [SiteType], [Rank], [Trust], [IsVerify], [AddDate], [OrderID]) VALUES (7, 3, 1, N'http://172tuan.com', N'http://172tuan.com/static/theme/coubang/css/i/logo.gif', N'', N'一齐儿团', N'', CAST(0x00009E18010BB276 AS DateTime), 0, 0, 0, 0, N'', N'', N'', N'', N'997645918', 0, 1, 60, 3, 1, CAST(0x00009DE701173A53 AS DateTime), 0)
INSERT [dbo].[TN_TuanSite] ([SiteID], [UserID], [CityID], [SiteUrl], [LogoUrl], [ApiUrl], [SiteName], [Description], [OpenDate], [CategoryID], [TuanCount], [CommentCount], [ClickCount], [Master], [ContactPerson], [Phone], [Email], [QQ], [ApiTypeID], [SiteType], [Rank], [Trust], [IsVerify], [AddDate], [OrderID]) VALUES (14, 2, 10, N'http://www.nuomi.com', N'http://static.nuomi.com/img/logo/logo-v2.png', N'', N'糯米网', N'', CAST(0x00009DE70122CB0F AS DateTime), 0, 0, 0, 0, N'', N'', N'', N'', N'', 0, 0, 60, 3, 1, CAST(0x00009DE70122CB0F AS DateTime), 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[TN_TuanSite] OFF
/****** 对象:  Table [dbo].[TN_Category]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_Category]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_Category](
	[CategoryID] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[Ename] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[CName] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Description] [varchar](500) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_TN_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[TN_Category] ([CategoryID], [PID], [Ename], [CName], [Description], [OrderID]) VALUES (1, 0, N'meishi', N'美食天地', N'美食团购、美酒团购', 1)
INSERT [dbo].[TN_Category] ([CategoryID], [PID], [Ename], [CName], [Description], [OrderID]) VALUES (2, 0, N'shenghuo', N'休闲生活', N'休闲娱乐、生活健身', 2)
INSERT [dbo].[TN_Category] ([CategoryID], [PID], [Ename], [CName], [Description], [OrderID]) VALUES (3, 0, N'meirong', N'美容保健', N'美容美发', 3)
/****** 对象:  Table [dbo].[TN_TuanComment]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_TuanComment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_TuanComment](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TuanID] [int] NOT NULL,
	[Title] [varchar](100) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[CContent] [text] COLLATE Chinese_PRC_CI_AS NOT NULL,
	[IsVerify] [tinyint] NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TN_TuanComment] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** 对象:  Table [dbo].[TN_SiteComment]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_SiteComment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_SiteComment](
	[CID] [int] NULL,
	[UserID] [int] NOT NULL,
	[SiteID] [int] NOT NULL,
	[Title] [varchar](100) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[CContent] [text] COLLATE Chinese_PRC_CI_AS NOT NULL,
	[IsVerify] [tinyint] NOT NULL,
	[AddDate] [datetime] NOT NULL
)
END
GO
/****** 对象:  Table [dbo].[TN_City]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_City]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_City](
	[CityID] [int] NOT NULL,
	[Prefix] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[ECity] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[City] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[OrderID] [int] NULL,
	[IsDisplay] [tinyint] NULL,
 CONSTRAINT [PK_TN_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[TN_City] ([CityID], [Prefix], [ECity], [City], [OrderID], [IsDisplay]) VALUES (1, N'Q', N'quanguo', N'全国', 0, 1)
INSERT [dbo].[TN_City] ([CityID], [Prefix], [ECity], [City], [OrderID], [IsDisplay]) VALUES (10, N'B', N'beijing', N'北京', 1, 1)
INSERT [dbo].[TN_City] ([CityID], [Prefix], [ECity], [City], [OrderID], [IsDisplay]) VALUES (20, N'G', N'guangzhou', N'广州', 2, 1)
/****** 对象:  Table [dbo].[TN_TuanPoint]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_TuanPoint]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_TuanPoint](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TuanID] [int] NOT NULL,
	[Point] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Support] [int] NOT NULL,
	[IsVerify] [tinyint] NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TN_TuanPoint] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanPoint', N'COLUMN',N'PID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'观点编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanPoint', @level2type=N'COLUMN',@level2name=N'PID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanPoint', N'COLUMN',N'UserID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanPoint', @level2type=N'COLUMN',@level2name=N'UserID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanPoint', N'COLUMN',N'TuanID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanPoint', @level2type=N'COLUMN',@level2name=N'TuanID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanPoint', N'COLUMN',N'Point'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'观点内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanPoint', @level2type=N'COLUMN',@level2name=N'Point'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanPoint', N'COLUMN',N'Support'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'支持人数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanPoint', @level2type=N'COLUMN',@level2name=N'Support'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanPoint', N'COLUMN',N'IsVerify'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否审核' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanPoint', @level2type=N'COLUMN',@level2name=N'IsVerify'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanPoint', N'COLUMN',N'AddDate'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发表时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanPoint', @level2type=N'COLUMN',@level2name=N'AddDate'
GO
/****** 对象:  Table [dbo].[TN_TuanGou]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_TuanGou](
	[TuanID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[UserID] [int] NULL,
	[SiteID] [int] NOT NULL,
	[Title] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Description] [varchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[TuanDetail] [text] COLLATE Chinese_PRC_CI_AS NULL,
	[TuanUrl] [varchar](255) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[ImageUrl] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[ImageThumbUrl] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[MarketPrice] [money] NOT NULL,
	[TuanPrice] [money] NOT NULL,
	[Rebate] [float] NOT NULL,
	[MerchantName] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[MerchantPhone] [varchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[MerchantAddress] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[TotalCount] [int] NULL,
	[BuyCount] [int] NOT NULL,
	[ClickCount] [int] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[PointCount] [int] NOT NULL,
	[BeginTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Statu] [tinyint] NOT NULL,
	[Rank] [tinyint] NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_TN_TuanGou] PRIMARY KEY CLUSTERED 
(
	[TuanID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'CategoryID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类别编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'CategoryID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'CityID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'城市区号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'CityID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'UserID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'UserID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'SiteID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购站点ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'SiteID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'Title'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'Title'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'Description'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'Description'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'TuanDetail'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'TuanDetail'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'TuanUrl'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'TuanUrl'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'ImageUrl'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'ImageUrl'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'MarketPrice'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'市场价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'MarketPrice'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'TuanPrice'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'TuanPrice'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'Rebate'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'Rebate'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'MerchantName'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商家名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'MerchantName'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'MerchantPhone'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商家电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'MerchantPhone'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'MerchantAddress'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商家地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'MerchantAddress'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'Longitude'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商家经度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'Longitude'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'Latitude'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商家纬度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'Latitude'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'TotalCount'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购总数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'TotalCount'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'BuyCount'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'购买统计' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'BuyCount'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'CommentCount'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'评论数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'CommentCount'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'PointCount'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'观点数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'PointCount'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'BeginTime'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'开始时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'BeginTime'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'EndTime'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'结束时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'EndTime'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'Statu'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购状态,1正常,2卖光了,3已结束' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'Statu'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'Rank'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'团购等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'Rank'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'AddDate'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发布时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'AddDate'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_TuanGou', N'COLUMN',N'OrderID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_TuanGou', @level2type=N'COLUMN',@level2name=N'OrderID'
GO
SET IDENTITY_INSERT [dbo].[TN_TuanGou] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[TN_TuanGou] OFF
/****** 对象:  Table [dbo].[TN_Users]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_Users](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[NickName] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[Password] [varchar](64) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[SecureQuestion] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[SecureAnswer] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[Sex] [tinyint] NULL,
	[Email] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[RoleID] [int] NULL,
	[UsergroupID] [int] NULL,
	[RegisterIP] [char](15) COLLATE Chinese_PRC_CI_AS NULL,
	[RegisterTime] [datetime] NULL,
	[LastloginIP] [char](15) COLLATE Chinese_PRC_CI_AS NULL,
	[LastloginTime] [datetime] NULL,
	[LoginCount] [int] NULL,
	[OnlineTime] [int] NULL,
	[Credits] [int] NULL,
	[Credits1] [int] NULL,
	[Credits2] [int] NULL,
	[Credits3] [int] NULL,
	[Avatar] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[Birthday] [smalldatetime] NULL,
	[PMCount] [int] NULL,
	[IsVerify] [tinyint] NULL,
	[IsLock] [tinyint] NULL,
 CONSTRAINT [PK_TN_Users] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'UID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户UID编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'UID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'UserName'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'UserName'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'NickName'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户昵称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'NickName'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'SecureQuestion'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'安全提示问题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'SecureQuestion'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'SecureAnswer'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'安全提示答案' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'SecureAnswer'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'Sex'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'Sex'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'Email'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'Email'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'RoleID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户权限ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'RoleID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'UsergroupID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'UsergroupID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'RegisterIP'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'RegisterIP'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'RegisterTime'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'RegisterTime'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'LastloginIP'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上次登陆IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'LastloginIP'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'LastloginTime'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上次登陆时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'LastloginTime'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'LoginCount'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登陆次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'LoginCount'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'OnlineTime'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'在线时间（单位：分钟）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'OnlineTime'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'Credits'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户积分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'Credits'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'Credits1'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'扩展积分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'Credits1'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'Credits2'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'扩展积分2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'Credits2'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'Credits3'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'扩展积分3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'Credits3'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'Avatar'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户头像' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'Avatar'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'Birthday'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'Birthday'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'PMCount'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'新短消息数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'PMCount'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'IsVerify'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否审核' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'IsVerify'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TN_Users', N'COLUMN',N'IsLock'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否锁定' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TN_Users', @level2type=N'COLUMN',@level2name=N'IsLock'
GO
SET IDENTITY_INSERT [dbo].[TN_Users] ON
INSERT [dbo].[TN_Users] ([UID], [UserName], [NickName], [Password], [SecureQuestion], [SecureAnswer], [Sex], [Email], [RoleID], [UsergroupID], [RegisterIP], [RegisterTime], [LastloginIP], [LastloginTime], [LoginCount], [OnlineTime], [Credits], [Credits1], [Credits2], [Credits3], [Avatar], [Birthday], [PMCount], [IsVerify], [IsLock]) VALUES (1, N'admin', N'admin', N'linpanxing123', NULL, NULL, 1, N'admin@91aspx.com', 0, 1, NULL, CAST(0x00009DE101753F14 AS DateTime), N'122.90.244.9   ', CAST(0x00009E19017D4D7C AS DateTime), 18, 0, 0, 0, 0, 0, NULL, NULL, 0, 1, 0)
INSERT [dbo].[TN_Users] ([UID], [UserName], [NickName], [Password], [SecureQuestion], [SecureAnswer], [Sex], [Email], [RoleID], [UsergroupID], [RegisterIP], [RegisterTime], [LastloginIP], [LastloginTime], [LoginCount], [OnlineTime], [Credits], [Credits1], [Credits2], [Credits3], [Avatar], [Birthday], [PMCount], [IsVerify], [IsLock]) VALUES (2, N'wapco', N'wapco', N'123456', NULL, NULL, 1, N'wapco@21cn.com', 1, 1, NULL, CAST(0x00009DE10175DA76 AS DateTime), N'110.88.59.51   ', CAST(0x00009E1E01702D57 AS DateTime), 50, 0, 0, 0, 0, 0, NULL, NULL, 0, 1, 0)
INSERT [dbo].[TN_Users] ([UID], [UserName], [NickName], [Password], [SecureQuestion], [SecureAnswer], [Sex], [Email], [RoleID], [UsergroupID], [RegisterIP], [RegisterTime], [LastloginIP], [LastloginTime], [LoginCount], [OnlineTime], [Credits], [Credits1], [Credits2], [Credits3], [Avatar], [Birthday], [PMCount], [IsVerify], [IsLock]) VALUES (3, N'lwh923', N'luwenhao', N'123456', NULL, NULL, 0, N'114594588@qq.com', 1, 1, NULL, CAST(0x00009DE10184DC04 AS DateTime), N'122.90.116.229 ', CAST(0x00009E1F017E2438 AS DateTime), 36, 0, 0, 0, 0, 0, NULL, NULL, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[TN_Users] OFF
/****** 对象:  Table [dbo].[TN_SubTuan]    脚本日期: 10/31/2010 01:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TN_SubTuan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TN_SubTuan](
	[SubTuanID] [int] NOT NULL,
	[SiteID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[SubTuanUrl] [varchar](255) COLLATE Chinese_PRC_CI_AS NOT NULL
)
END
GO
/****** 对象:  StoredProcedure [dbo].[Proc_GetBaseStats]    脚本日期: 10/31/2010 01:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetBaseStats]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
-- =============================================
-- Author:		LinPanxing
-- Create date: 2010-10-03
-- Description:	获取网站基本统计信息
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetBaseStats]
AS
BEGIN
	--注册会员总数/新增
	SELECT ROWS FROM sysindexes WHERE id = OBJECT_ID(''TN_Users'') AND indid < 2
	SELECT COUNT(*) AS ROWS FROM TN_Users WHERE DATEDIFF(dd,RegisterTime,GETDATE())=0

	--团购网站总数/新增
	SELECT ROWS FROM sysindexes WHERE id = OBJECT_ID(''TN_TuanSite'') AND indid < 2
	SELECT COUNT(*) ROWS FROM TN_TuanSite WHERE DATEDIFF(dd,AddDate,GETDATE())=0

	--团购商品总数/新增
	SELECT ROWS FROM sysindexes WHERE id = OBJECT_ID(''TN_TuanGou'') AND indid < 2
	SELECT COUNT(*) AS ROWS FROM TN_TuanGou WHERE DATEDIFF(dd,AddDate,GETDATE())=0

	--团购网站评论总数/新增
	SELECT ROWS FROM sysindexes WHERE id = OBJECT_ID(''TN_SiteComment'') AND indid < 2
	SELECT COUNT(*) AS ROWS FROM TN_SiteComment WHERE DATEDIFF(dd,AddDate,GETDATE())=0

	--团购商品评论总数/新增
	SELECT ROWS FROM sysindexes WHERE id = OBJECT_ID(''TN_TuanComment'') AND indid < 2
	SELECT COUNT(*) AS ROWS FROM TN_TuanComment WHERE DATEDIFF(dd,AddDate,GETDATE())=0
END

' 
END
GO
/****** 对象:  StoredProcedure [dbo].[Proc_GetTuanGouListByCityID]    脚本日期: 10/31/2010 01:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetTuanGouListByCityID]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetTuanGouListByCityID]
	@row INT,
	@CityID INT
AS
BEGIN
	SELECT TOP(@row) TuanID,C.CName,I.City,S.SiteName,S.SiteUrl,G.Title,G.TuanUrl
	FROM TN_TuanGou G LEFT JOIN TN_Category C ON G.CategoryID=C.CategoryID LEFT JOIN TN_City I ON G.CityID=I.CityID LEFT JOIN TN_TuanSite S ON G.SiteID=S.SiteID
	WHERE G.CityID=@CityID
END
' 
END
GO
/****** 对象:  StoredProcedure [dbo].[Proc_TuanGou_AddOrUpdate]    脚本日期: 10/31/2010 01:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_TuanGou_AddOrUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
-- =============================================
-- Author:		LinPanxing
-- Create date: 2010-09-06
-- Description:	团购商品采集
-- =============================================
CREATE PROCEDURE [dbo].[Proc_TuanGou_AddOrUpdate]
@CategoryID int,
@CityID int,
@SiteID int,
@Title varchar(200),
@Description varchar(500),
@TuanDetail text,
@TuanUrl varchar(255),
@ImageUrl varchar(255),
@ImageThumbUrl VARCHAR(255),
@MarketPrice money,
@TuanPrice money,
@Rebate float,
@MerchantName varchar(50),
@MerchantPhone varchar(20),
@MerchantAddress varchar(255),
@Longitude float,
@Latitude float,
@TotalCount int,
@BuyCount int,
@BeginTime datetime,
@EndTime datetime

AS
BEGIN
	DECLARE @TuanID INT
	SELECT @TuanID=TuanID FROM TN_TuanGou WHERE SiteID=@SiteID AND TuanUrl=@TuanUrl
	IF(@TuanID>0)
	BEGIN
		UPDATE TN_TuanGou SET [BuyCount]=@BuyCount WHERE TuanID=@TuanID
	END
	ELSE
	BEGIN
		INSERT INTO [TN_TuanGou](
		[CategoryID],[CityID],[SiteID],[Title],[Description],[TuanDetail],[TuanUrl],[ImageUrl],[MarketPrice],[TuanPrice],[Rebate],[MerchantName],[MerchantPhone],[MerchantAddress],[Longitude],[Latitude],[TotalCount],[BuyCount],[BeginTime],[EndTime])
		VALUES(
		@CategoryID,@CityID,@SiteID,@Title,@Description,@TuanDetail,@TuanUrl,@ImageUrl,@MarketPrice,@TuanPrice,@Rebate,@MerchantName,@MerchantPhone,@MerchantAddress,@Longitude,@Latitude,@TotalCount,@BuyCount,@BeginTime,@EndTime
	)
	END
END

' 
END
GO
/****** 对象:  StoredProcedure [dbo].[Proc_UserLogin]    脚本日期: 10/31/2010 01:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UserLogin]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		LinPanxing
-- Create date: 2010-09-06
-- Description:	判断用户登录并返回实体
-- =============================================
CREATE PROCEDURE [dbo].[Proc_UserLogin]
	@UserName VARCHAR(50),
	@Password VARCHAR(64),
	@LoginIP CHAR(15)
AS
BEGIN
	DECLARE @UserID INT
	SELECT @UserID=UID FROM TN_Users WHERE UserName=@UserName AND Password=@Password
	
	IF(@UserID>0)
	BEGIN
		UPDATE TN_Users SET LoginCount=LoginCount+1,LastloginIP=@LoginIP,LastloginTime=GETDATE() WHERE UID=@UserID

		SELECT UID,UserName,UsergroupID,LastloginTime,LastloginIP,LoginCount,OnlineTime,Credits,PMCount,IsVerify,IsLock
		FROM TN_Users WHERE UID=@UserID
	END
END
' 
END
GO
/****** 对象:  Default [DF_TN_City_IsHidden]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_City_IsHidden]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_City]'))
Begin
ALTER TABLE [dbo].[TN_City] ADD  CONSTRAINT [DF_TN_City_IsHidden]  DEFAULT ((0)) FOR [IsDisplay]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_UserID]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_UserID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_UserID]  DEFAULT ((0)) FOR [UserID]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_MarketPrice]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_MarketPrice]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_MarketPrice]  DEFAULT ((0)) FOR [MarketPrice]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_TuanPrice]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_TuanPrice]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_TuanPrice]  DEFAULT ((0)) FOR [TuanPrice]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_Rebate]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_Rebate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_Rebate]  DEFAULT ((0)) FOR [Rebate]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_BuyCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_BuyCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_BuyCount]  DEFAULT ((0)) FOR [BuyCount]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_ClickCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_ClickCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_ClickCount]  DEFAULT ((0)) FOR [ClickCount]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_CommentCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_CommentCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_CommentCount]  DEFAULT ((0)) FOR [CommentCount]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_PointCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_PointCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_PointCount]  DEFAULT ((0)) FOR [PointCount]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_Statu]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_Statu]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_Statu]  DEFAULT ((0)) FOR [Statu]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_Rank]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_Rank]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_Rank]  DEFAULT ((0)) FOR [Rank]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_AddDate]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_AddDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_AddDate]  DEFAULT (getdate()) FOR [AddDate]

End
GO
/****** 对象:  Default [DF_TN_TuanGou_OrderID]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanGou_OrderID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanGou]'))
Begin
ALTER TABLE [dbo].[TN_TuanGou] ADD  CONSTRAINT [DF_TN_TuanGou_OrderID]  DEFAULT ((0)) FOR [OrderID]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_UserID]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_UserID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_UserID]  DEFAULT ((1)) FOR [UserID]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_TuanCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_TuanCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_TuanCount]  DEFAULT ((0)) FOR [TuanCount]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_CommentCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_CommentCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_CommentCount]  DEFAULT ((0)) FOR [CommentCount]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_ClickCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_ClickCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_ClickCount]  DEFAULT ((0)) FOR [ClickCount]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_SiteType]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_SiteType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_SiteType]  DEFAULT ((0)) FOR [SiteType]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_Rank]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_Rank]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_Rank]  DEFAULT ((60)) FOR [Rank]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_Trust]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_Trust]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_Trust]  DEFAULT ((3)) FOR [Trust]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_IsVerify]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_IsVerify]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_IsVerify]  DEFAULT ((0)) FOR [IsVerify]

End
GO
/****** 对象:  Default [DF_TN_TuanSite_AddDate]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_TuanSite_AddDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_TuanSite]'))
Begin
ALTER TABLE [dbo].[TN_TuanSite] ADD  CONSTRAINT [DF_TN_TuanSite_AddDate]  DEFAULT (getdate()) FOR [AddDate]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_GroupType]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_GroupType]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_GroupType]  DEFAULT ((0)) FOR [Type]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_CreditBegin]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_CreditBegin]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_CreditBegin]  DEFAULT ((0)) FOR [CreditBegin]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_CreditEnd]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_CreditEnd]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_CreditEnd]  DEFAULT ((0)) FOR [CreditEnd]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_stars]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_stars]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_stars]  DEFAULT ((0)) FOR [stars]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowPost]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowPost]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_AllowPost]  DEFAULT ((0)) FOR [AllowPost]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowComment]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowComment]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_AllowComment]  DEFAULT ((0)) FOR [AllowComment]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowAvatar]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowAvatar]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_AllowAvatar]  DEFAULT ((0)) FOR [AllowAvatar]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowTransfer]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowTransfer]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_AllowTransfer]  DEFAULT ((0)) FOR [AllowTransfer]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowViewInfo]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowViewInfo]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_AllowViewInfo]  DEFAULT ((0)) FOR [AllowViewInfo]

End
GO
/****** 对象:  Default [DF_TN_Pre_Usergroup_AllowNickname]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Pre_Usergroup_AllowNickname]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Usergroup]'))
Begin
ALTER TABLE [dbo].[TN_Usergroup] ADD  CONSTRAINT [DF_TN_Pre_Usergroup_AllowNickname]  DEFAULT ((0)) FOR [AllowNickname]

End
GO
/****** 对象:  Default [DF_TN_Users_Sex]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_Sex]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_Sex]  DEFAULT ((1)) FOR [Sex]

End
GO
/****** 对象:  Default [DF_TN_Users_RoleID]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_RoleID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_RoleID]  DEFAULT ((0)) FOR [RoleID]

End
GO
/****** 对象:  Default [DF_TN_Users_UsergroupID]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_UsergroupID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_UsergroupID]  DEFAULT ((0)) FOR [UsergroupID]

End
GO
/****** 对象:  Default [DF_TN_Users_RegisterDate]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_RegisterDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_RegisterDate]  DEFAULT (getdate()) FOR [RegisterTime]

End
GO
/****** 对象:  Default [DF_TN_Users_LastloginTime]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_LastloginTime]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_LastloginTime]  DEFAULT (getdate()) FOR [LastloginTime]

End
GO
/****** 对象:  Default [DF_TN_Users_LoginCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_LoginCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_LoginCount]  DEFAULT ((0)) FOR [LoginCount]

End
GO
/****** 对象:  Default [DF_TN_Users_OnlineTime]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_OnlineTime]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_OnlineTime]  DEFAULT ((0)) FOR [OnlineTime]

End
GO
/****** 对象:  Default [DF_TN_Users_Credits]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_Credits]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_Credits]  DEFAULT ((0)) FOR [Credits]

End
GO
/****** 对象:  Default [DF_TN_Users_ExtCredits1]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_ExtCredits1]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_ExtCredits1]  DEFAULT ((0)) FOR [Credits1]

End
GO
/****** 对象:  Default [DF_TN_Users_ExtCredits2]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_ExtCredits2]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_ExtCredits2]  DEFAULT ((0)) FOR [Credits2]

End
GO
/****** 对象:  Default [DF_TN_Users_ExtCredits3]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_ExtCredits3]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_ExtCredits3]  DEFAULT ((0)) FOR [Credits3]

End
GO
/****** 对象:  Default [DF_TN_Users_PmCount]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_PmCount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_PmCount]  DEFAULT ((0)) FOR [PMCount]

End
GO
/****** 对象:  Default [DF_TN_Users_IsVerify]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_IsVerify]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_IsVerify]  DEFAULT ((0)) FOR [IsVerify]

End
GO
/****** 对象:  Default [DF_TN_Users_IsForbidden]    脚本日期: 10/31/2010 01:12:27 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_TN_Users_IsForbidden]') AND parent_object_id = OBJECT_ID(N'[dbo].[TN_Users]'))
Begin
ALTER TABLE [dbo].[TN_Users] ADD  CONSTRAINT [DF_TN_Users_IsForbidden]  DEFAULT ((0)) FOR [IsLock]

End
GO
