<?xml version="1.0" encoding="utf-8"?>
<attachment>
  <!--图片配置-->
  <photo>
    <path>admin\files\photo\photo</path><!--图片存放路径用\\分隔-->
    <path>admin\files\photo\abbrPhoto1</path><!--缩略图1存放路径用\\分隔-->
    <path>admin\files\photo\abbrPhoto2</path><!--缩图2存放路径用\\分隔-->
    <contentLength>1024*1024*10</contentLength><!--文件上传最大值，单位字节-->
    <format>jpg|jpeg|bmp|gif|png</format><!--上传格式,用|分隔-->
    <hasAbbrImage>1</hasAbbrImage><!--是否生成缩略图-->
    <hasWaterMark>1</hasWaterMark><!--原图是否水印-->
    <hasAbbrWaterMark>0</hasAbbrWaterMark><!--缩略图是否水印-->
    <waterMarkPosition>bottom|right</waterMarkPosition><!--水印位置-->
  </photo>
</attachment>
