<?xml version="1.0" encoding="utf-8"?>
<attachment>
  <path>uploads\users</path><!--附件存放路径用\\分隔-->
  <contentLength>1024*1024*10</contentLength><!--文件上传最大值，单位字节-->
  <imageFormat>jpg|jpeg|bmp|gif|png</imageFormat><!--上传格式,用|分隔-->
  <videoFormat>avi</videoFormat><!--视频格式,用|分隔-->
  <audioFormat>mp3</audioFormat><!--音频格式,用|分隔-->
  <flashFormat>swf|fla</flashFormat><!--Flash格式,用|分隔-->
  <attachmentFormat>doc|txt|rar|zip</attachmentFormat><!--附件格式,用|分隔-->
</attachment>
