<?xml version="1.0" encoding="utf-8"?>
<SystemConfig>
  <WaterImage>
    <WaterPic>0</WaterPic><!--是否图片水印，1图片、0文字-->
    <WaterCharater>DTCMS</WaterCharater><!--水印文字-->
    <WaterPicPath></WaterPicPath><!--水印图片地址-->
    <XPercent>0.5</XPercent><!--水印文字与图片左上角X轴的百分比（用小数表示）-->
    <YPercent>0.5</YPercent><!--水印文字与图片左上角Y轴的百分比（用小数表示）-->
    <CharColor>red</CharColor><!--文字颜色System.Color-->
    <Transparence>1</Transparence><!--水印图片透明度-->
  </WaterImage>
</SystemConfig>
