<?xml version="1.0"?>
<SystemConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Attachment>
    <Path>uploads\\users</Path>
    <Directory>yyyyMM</Directory>
    <ImageFormat>jpg|jpeg|bmp|gif|png</ImageFormat>
    <VideoFormat>avi</VideoFormat>
    <AudioFormat>mp3|mp4</AudioFormat>
    <FlashFormat>swf|fla</FlashFormat>
    <AttachmentFormat>doc|txt|rar|zip</AttachmentFormat>
    <HasWaterMark>1</HasWaterMark>
    <HasAbbrImage>1</HasAbbrImage>
    <HasAbbrImageWaterMark>0</HasAbbrImageWaterMark>
    <AbbrImageWidth>300</AbbrImageWidth>
    <AbbrImageHeight>0</AbbrImageHeight>
    <WaterImage>
      <WaterPic>0</WaterPic>
      <WaterCharater>www.dtcms.com</WaterCharater>
      <WaterPicPath>/uploads/users/201001/20100103115813531_abbr.jpg</WaterPicPath>
      <XPercent>0.72</XPercent>
      <YPercent>0.63</YPercent>
      <CharColor>#D0CCCD</CharColor>
      <Transparence>1</Transparence>
      <FontFamilyName>华文行楷</FontFamilyName>
      <FontSize>18</FontSize>
    </WaterImage>
  </Attachment>
</SystemConfig>