<?xml version="1.0" encoding="utf-8"?>
<SystemConfig>

  <Attachment>
    <!--附件存放路径用\\分隔-->
    <Path>uploads\\users</Path>

    <!--保存目录,时间格式-->
    <Directory>yyyyMM</Directory>

    <!--图片格式,用|分隔-->
    <ImageFormat>jpg|jpeg|bmp|gif|png</ImageFormat>

    <!--视频格式,用|分隔-->
    <VideoFormat>avi</VideoFormat>

    <!--音频格式,用|分隔-->
    <AudioFormat>mp3</AudioFormat>

    <!--Flash格式,用|分隔-->
    <FlashFormat>swf|fla</FlashFormat>

    <!--附件格式,用|分隔-->
    <AttachmentFormat>doc|txt|rar|zip</AttachmentFormat>

    <!--原图是否水印-->
    <HasWaterMark>1</HasWaterMark>

    <!--是否生成缩略图-->
    <HasAbbrImage>0</HasAbbrImage>

    <!--缩略图是否水印-->
    <HasAbbrImageWaterMark>0</HasAbbrImageWaterMark>

    <!--缩略图宽-->
    <AbbrImageWidth>500</AbbrImageWidth>

    <!--缩略图高-->
    <AbbrImageHeight>0</AbbrImageHeight>

    <WaterImage>
      <!--是否图片水印，1图片、0文字-->
      <WaterPic>0</WaterPic>

      <!--水印文字-->
      <WaterCharater>www.dtcms.com</WaterCharater>

      <!--水印图片地址-->
      <WaterPicPath></WaterPicPath>

      <!--水印文字与图片左上角X轴的百分比（用小数表示）-->
      <XPercent>0.72</XPercent>

      <!--水印文字与图片左上角Y轴的百分比（用小数表示）-->
      <YPercent>0.63</YPercent>

      <!--文字颜色System.Color-->
      <CharColor>#D0CCCD</CharColor>

      <!--水印图片透明度-->
      <Transparence>1</Transparence>

      <!--文字类型-->
      <FontFamilyName>Verdana, Arial, Helvetica, sans-serif</FontFamilyName>

      <!--文字大小-->
      <FontSize>20</FontSize>
    </WaterImage>
  </Attachment>   
</SystemConfig>
