<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--class-->
  <section key="class_type" value="栏目类型" pkey="">    
    <item key="1" value="文章" pkey="" />
    <item key="2" value="图片" pkey="" />
    <item key="3" value="视频" pkey="" />
    <item key="4" value="音频" pkey="" />
  </section>

  <section key="class_readaccess" value="阅读权限" pkey="">
    <item key="1" value="管理员" pkey="" />
    <item key="2" value="高级会员" pkey="" />
    <item key="3" value="会员" pkey="" />
    <item key="4" value="游客" pkey="" />
  </section>

  <section key="class_checklevel" value="审核机制" pkey="">
    <item key="1" value="不审核" pkey="" />
    <item key="2" value="一级审核" pkey="" />
    <item key="3" value="二级审核" pkey="" />
    <item key="4" value="三级审核" pkey="" />
  </section>

  <!--news-->
  <section key="news_titleflag" value="文章类型" pkey="">
    <item key="1" value="原创" pkey="" />
    <item key="2" value="转载" pkey="" />
  </section>
  
  <!--WaterImage-->
  <section key="font_type" value="文字类型" pkey="">
    <item key="Arial" value="Arial" pkey="" />
    <item key="Arial Black" value="Arial Black" pkey="" />
    <item key="Arial Unicode MS" value="Arial Unicode MS" pkey="" />
    <item key="Book Antiqua" value="Book Antiqua" pkey="" />
    <item key="Bookshelf Symbol 7" value="Bookshelf Symbol 7" pkey="" />
    <item key="Calibri" value="Calibri" pkey="" />
    <item key="Cambria" value="Cambria" pkey="" />
    <item key="Cambria Math" value="Cambria Math" pkey="" />
    <item key="Candara" value="Candara" pkey="" />
    <item key="Century" value="Century" pkey="" />
    <item key="Century Gothic" value="Century Gothic" pkey="" />
    <item key="Comic Sans MS" value="Comic Sans MS" pkey="" />
    <item key="Consolas" value="Consolas" pkey="" />
    <item key="Constantia" value="Constantia" pkey="" />
    <item key="Corbel" value="Corbel" pkey="" />
    <item key="Courier New" value="Courier New" pkey="" />
    <item key="Dotum" value="Dotum" pkey="" />
    <item key="DotumChe" value="DotumChe" pkey="" />
    <item key="Estrangelo Edessa" value="Estrangelo Edessa" pkey="" />
    <item key="Franklin Gothic Medium" value="Franklin Gothic Medium" pkey="" />
    <item key="Gautami" value="Gautami" pkey="" />
    <item key="Georgia" value="Georgia" pkey="" />
    <item key="Gulim" value="Gulim" pkey="" />
    <item key="GulimChe" value="GulimChe" pkey="" />
    <item key="Impact" value="Impact" pkey="" />
    <item key="Kartika" value="Kartika" pkey="" />
    <item key="Latha" value="Latha" pkey="" />
    <item key="Lucida Console" value="Lucida Console" pkey="" />
    <item key="Lucida Sans" value="Lucida Sans" pkey="" />
    <item key="Lucida Sans Unicode" value="Lucida Sans Unicode" pkey="" />
    <item key="Mangal" value="Mangal" pkey="" />
    <item key="Marlett" value="Marlett" pkey="" />
    <item key="Microsoft Sans Serif" value="Microsoft Sans Serif" pkey="" />
    <item key="MingLiU" value="MingLiU" pkey="" />
    <item key="MS Gothic" value="MS Gothic" pkey="" />
    <item key="MS PGothic" value="MS PGothic" pkey="" />
    <item key="MS Reference Sans Serif" value="MS Reference Sans Serif" pkey="" />
    <item key="MS Reference Specialty" value="MS Reference Specialty" pkey="" />
    <item key="MS UI Gothic" value="MS UI Gothic" pkey="" />
    <item key="MT Extra" value="MT Extra" pkey="" />
    <item key="MV Boli" value="MV Boli" pkey="" />
    <item key="Nina" value="Nina" pkey="" />
    <item key="Palatino Linotype" value="Palatino Linotype" pkey="" />
    <item key="PMingLiU" value="PMingLiU" pkey="" />
    <item key="Raavi" value="Raavi" pkey="" />
    <item key="Segoe Condensed" value="Segoe Condensed" pkey="" />
    <item key="Segoe UI" value="Segoe UI" pkey="" />
    <item key="Shruti" value="Shruti" pkey="" />
    <item key="Sylfaen" value="Sylfaen" pkey="" />
    <item key="Symbol" value="Symbol" pkey="" />
    <item key="Tahoma" value="Tahoma" pkey="" />
    <item key="Times New Roman" value="Times New Roman" pkey="" />
    <item key="Trebuchet MS" value="Trebuchet MS" pkey="" />
    <item key="Tunga" value="Tunga" pkey="" />
    <item key="Verdana" value="Verdana" pkey="" />
    <item key="Vrinda" value="Vrinda" pkey="" />
    <item key="Webdings" value="Webdings" pkey="" />
    <item key="Wingdings" value="Wingdings" pkey="" />
    <item key="Wingdings" value="Wingdings" pkey="" />
    <item key="Wingdings" value="Wingdings" pkey="" />
    <item key="仿宋_GB2312" value="仿宋_GB2312" pkey="" />
    <item key="华文中宋" value="华文中宋" pkey="" />
    <item key="华文仿宋" value="华文仿宋" pkey="" />
    <item key="华文宋体" value="华文宋体" pkey="" />
    <item key="华文彩云" value="华文彩云" pkey="" />
    <item key="华文新魏" value="华文新魏" pkey="" />
    <item key="华文楷体" value="华文楷体" pkey="" />
    <item key="华文琥珀" value="华文琥珀" pkey="" />
    <item key="华文细黑" value="华文细黑" pkey="" />
    <item key="华文行楷" value="华文行楷" pkey="" />
    <item key="华文隶书" value="华文隶书" pkey="" />
    <item key="宋体" value="宋体" pkey="" />
    <item key="宋体-PUA" value="宋体-PUA" pkey="" />
    <item key="幼圆" value="幼圆" pkey="" />
    <item key="微软雅黑" value="微软雅黑" pkey="" />
    <item key="新宋体" value="新宋体" pkey="" />
    <item key="方正姚体" value="方正姚体" pkey="" />
    <item key="方正舒体" value="方正舒体" pkey="" />
    <item key="楷体_GB2312" value="楷体_GB2312" pkey="" />
    <item key="隶书" value="隶书" pkey="" />
    <item key="黑体" value="黑体" pkey="" />
  </section>

  <!--attachment-->
  <section key="attachment_type" value="附件类型" pkey="">
    <item key="1" value="图片" pkey="" />
    <item key="2" value="视频" pkey="" />
    <item key="3" value="音频" pkey="" />
    <item key="4" value="Flash" pkey="" />
    <item key="5" value="其它" pkey="" />
  </section>
  
</configuration>
