<?xml version="1.0" encoding="utf-8"?>
<AppConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DbType>SqlServer</DbType>
  <DbConnection>Data Source=59.57.15.82;Initial Catalog=sqlwapco;User ID=wapco;Password=linpanxing123;</DbConnection>
  <!--<DbConnection>Data Source=.;Initial Catalog=TuanNav;User ID=sa;Password=123;</DbConnection>-->
  <!--<DbConnection>Data Source=58.64.150.83,1433;User ID=a1015113132;pwd=linpanxing123;Initial Catalog=a1015113132</DbConnection>-->
  <TablePrefix>TN_</TablePrefix>
  <AppPath>/</AppPath>
  <FounderID>1</FounderID>
</AppConfigInfo>