<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>文章内容页——{$site.webname}——{$site.metaKeyword}</title>
</head>
<body>
<div style="padding:10px 200px;">
    当前位置：{$gobal.Position}<br />
    上一篇：{$gobal.Prior} 下一篇：{$gobal.Next}<br />
    id：{$field.id}<br />
    classID：{$field.classID}<br />
    className：{$field.className}<br />
    classUrl：{$field.classUrl}<br />
    titleFlag：{$field.titleFlag}<br />
    title：{$field.title}<br />
    shortTitle：{$field.shortTitle}<br />
    titleStyle：{$field.titleStyle}<br />
    imgUrl：{$field.imgUrl}<br />
    author：{$field.author}<br />
    description：{$field.description}<br />
    click：{$field.click}<br />
    good：{$field.good}<br />
    bad：{$field.bad}<br />
    url：{$field.url}<br />
    pubDate：{$field.pubDate}<br />
    tags：{$field.tags}<br />
    editor：{$field.editor}<br />
    source：{$field.source}<br />
    templet：{$field.templet}<br />
    keywords：{$field.keywords}<br />
    content：{$field.content}<br />
    readaccess：{$field.readaccess}<br />
    money：{$field.money}<br />
    isComment：{$field.isComment}<br />
    isPaging：{$field.isPaging}<br />
    filePath：{$field.filePath}<br />
    similarArticle：{$field.similarArticle}<br />
</div>
</body>
</html>
