*{
	padding:0px;
	margin:0px;
}
body{
	font-family:"宋体", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	height:100%;
	color: #555;
}
input
{
	vertical-align:middle;
}
.textbox
{
	background: url(../images/blue/login_input_bg.gif) left top no-repeat;
	border:1px solid #bdbcbd;
	height:20px;
	line-height:20px;
	text-indent:2px;
	width:200px;
}
img{
	border:0px;
}
a{
	color:#555;
	text-decoration:none;
}
a:hover{
	color:#FF0000;
	text-decoration:underline;
}

#container
{
	margin:6px;
	padding:10px;
	background:url(../images/blue/conbg_left.gif) no-repeat;
	position:relative;
}
#container_r
{
	top:0px;
	right:6px;
	width:4px;
	height:200px;
	position:absolute;
	background:url(../images/blue/conbg_right.gif) no-repeat #FFF;
}

/* 首页信息表格 */
.main_bleft{
	line-height:30px;
	padding-right:10px;
	letter-spacing:1px;
	text-align:right;
	background:#f5fafe;
	width:22%;
	color:#069;
}
.main_bright{
	line-height:30px;
	padding-left:10px;
	background:#FFF;
	width:78%;
}

.ct_td{
  padding:3px;
  padding-left:6px;
}
.tab1 {
	line-height:18px;
	margin-top:5px;
	background:#cad9ea;
}
.tab1 strong {
	font-weight: normal;
}
