*{
	padding:0px;
	margin:0px;
}
body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	height:100%;
	color: #555;
}
img{
	border:0px;
}
a{
	color:#555;
	text-decoration:none;
}
.textbox
{
	background: url(../images/blue/login_input_bg.gif) no-repeat scroll left top #F7FAFC ;
	border-top:1px solid #778899;
	border-left:1px solid #778899;
	border-right:1px solid #bdbcbd;
	border-bottom:1px solid #bdbcbd;
	height:20px;
	line-height:20px;
	text-indent:2px;
	width:340px;
}

/*头部信息*/
#container
{
	margin:10px 15px;
}
.tabs{
	width:100%;
	height:40px;
	background:url(../images/blue/body_title_bg.gif) top left repeat-x;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}
.tabs ul
{
	margin-left:15px;
}
.tabs ul li{
	float:left;
	height:33px;
	overflow:hidden;
	text-align:center;
	padding-left:3px;
	margin-right:3px;
}
.tabs ul li.tab_on
{
	background:url(../images/blue/body_title_left.gif) left bottom no-repeat;
}
.tabs ul li.tab_on a
{
	color:#333;
	background:#FFF url(../images/blue/body_title_right.gif) right bottom no-repeat;	
}
.tabs ul li a{
	height:27px;
	float:left;
	margin-top:6px;
	line-height:27px;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	padding-left:8px;
	padding-right:8px;
	color:#FFF;
}
.tab_show
{
    display:block;
}
.tab_hiden
{
    display:none;
}
/* 首页信息表格 */
.main_bleft{
	letter-spacing:1px;
	text-indent:10px;
	text-align:right;
	width:130px;
	height:30px;
}
.main_bright{
	padding:0 0 0 15px;
	line-height:30px;
	height:30px;
}
.split
{
	border-bottom:1px #cad9ea dotted;
}
.table_form {
	line-height:30px;
	margin-top:5px;
    border:1px #cad9ea solid;
	empty-cells:show;
	width:100%;
	line-height:30px;
}
.select
{
    padding:0 8px 0 0;
}
.help
{
    padding:0 0 0 7px;
    cursor:help;
}
.help:hover
{
    text-decoration:underline;
}
.s
{
    cursor:pointer;
    width:18px;
    height:16px;
    margin:0 -5px 0 0;
}