* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	color: #333;
	_overflow-y: scroll;
}
img {
	border: 0px;
}
a {
	color: #333;
	text-decoration: none;
}
ul li{
	list-style:none;
}
.textbox {
	background: url(../images/blue/login_input_bg.gif) no-repeat left top #F7FAFC;
	border-top: 1px solid #778899;
	border-left: 1px solid #778899;
	border-right: 1px solid #bdbcbd;
	border-bottom: 1px solid #bdbcbd;
	height: 20px;
	line-height: 20px;
	text-indent: 2px;
	width: 300px;
}
sup a
{
	letter-spacing:0;
	padding-left:2px;
}
textarea {
	background: url(../images/blue/login_input_bg.gif) no-repeat left top #F7FAFC;
	border-top: 1px solid #778899;
	border-left: 1px solid #778899;
	border-right: 1px solid #bdbcbd;
	border-bottom: 1px solid #bdbcbd;
	text-indent: 2px;
}
button
{
	margin-right:8px;
}
.button {
	border: 0px;
	height: 22px;
	letter-spacing: 2px;
	color: #555;
	overflow:hidden;
	background: url(../images/blue/button.jpg) no-repeat;
}
a.button
{
	line-height: 22px;
	vertical-align:middle;
	text-align:center;
	display:inline-block;
}
.button img
{
	height:20px;
	width:20px;
	padding-right:2px;
	_padding-top:1px;
	vertical-align:middle;
}
.b1
{
	width:51px;	
	background-position:0px 0px;
}
a.b1:hover
{
	background-position:-99px -88px;
}
.b2
{
	width:63px;	
	background-position:0px -22px;
}
a.b2:hover
{
	background-position:-87px -66px;
}
.b3
{
	width:75px;	
	background-position:0px -44px;
}
a.b3:hover
{
	background-position:-75px -44px;
}
.b4
{
	width:87px;	
	background-position:0px -66px;
}
a.b4:hover
{
	background-position:-63px -22px;
}
.b5
{
	width:99px;	
	background-position:0px -88px;
}
a.b5:hover
{
	background-position:-51px 0px;
}
.short {
	width: 180px;
}
.long {
	width: 420px;
}
#container {
	width:96%;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}
.tabs {
	width: 100%;
	height: 40px;
	background: url(../images/blue/body_title_bg.gif) top left repeat-x;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
.tabs ul {
	margin-left: 15px;
}
.tabs ul li {
	float: left;
	height: 33px;
	overflow: hidden;
	text-align: center;
	padding-left: 3px;
	margin-right: 3px;
}
.tabs ul li.tab_on {
	background: url(../images/blue/body_title_left.gif) left bottom no-repeat;
}
.tabs ul li.tab_on a {
	color: #333;
	background: #FFF url(../images/blue/body_title_right.gif) right bottom no-repeat;
}
.tabs ul li a {
	height: 27px;
	float: left;
	margin-top: 6px;
	line-height: 27px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-left: 8px;
	padding-right: 8px;
	color: #FFF;
}
.tab_show {
	display: block;
}
.tab_hiden {
	display: none;
}
/*Toolbar样式*/
.toolbar
{
	background:#DBEBFA;	
	padding:6px 10px;
	margin-bottom:1px;
}
/* 表单表格样式 */
.table_form {
	margin-top: 5px;
	border: 1px #cad9ea solid;
	empty-cells: show;
	width: 100%;
	line-height: 32px;
}
.main_bleft {
	letter-spacing: 1px;
	text-indent: 10px;
	text-align: right;
	width: 120px;
}
.main_bright {
	padding: 0 0 0 10px;
}
.split {
	border-bottom: 1px #cad9ea dotted;
}
/*内容表格样式*/
.table_data {
	width: 100%;
	font-size: 12px;
	border:1px #CAD9EA solid;
	text-align: center;
	border-collapse: collapse; 
}
.table_data thead {
}
.table_data thead th {
	line-height: 28px;
	height: 28px;
	font-weight: bold;
	background:url(../images/blue/th_bg.gif) right bottom no-repeat;
}
.table_data th.bleft
{
	background-position:left bottom;
}
.table_data tbody td.tleft{
	text-indent:10px;
	text-align:left;
}
.table_data tbody td ,.table_data tbody th{
	border-top: 1px solid #D3E0ED;
	border-bottom: 1px solid #D3E0ED;
	height: 26px;
}
.table_data tr.t1 td {
	background-color: #FFF;
}
.table_data tr.t2 td {
	background-color: #F6FBFE;
}
.table_data tr.t3 td {
	background-color: #E0F0FD;
}
.table_data tfoot tr td {
	background: #fff;
	line-height: 26px;
	height: 26px;
}
#page {
	text-align: center;
	float: right;
}
#page a, #page a:visited {
	width: 60px;
	height: 22px;
	line-height: 22px;
	border: 1px black solid;
	display: block;
	float: left;
	margin: 0 3px;
	background: #c9c9c9;
	text-decoration: none;
}
#page a:hover {
	background: #c1c1c1;
	text-decoration: none;
}
.grayr {
	padding: 2px;
	font-size: 11px;
	background: #fff;
	float: right;
}
.grayr a {
	padding: 2px 5px;
	margin: 2px;
	color: #000;
	text-decoration: none; 
	border: 1px #c0c0c0 solid;
}
.grayr a:hover {
	color: #000;
	border: 1px orange solid;
}
.grayr a:active {
	color: #000;
	background: #99ffff;
}
.grayr span.current {
	padding: 2px 5px;
	font-weight: bold;
	margin: 2px;
	color: #303030;
	background: #fff;
	border: 1px orange solid;
}
.grayr span.disabled {
	padding: 2px 5px;
	margin: 2px;
	color: #797979;
	background: #c1c1c1;
	border: 1px #c1c1c1 solid;
}

/*其他样式样式*/
.select {
	padding: 0 5px 0 0;
}
.help {
	padding: 0 0 0 7px;
	cursor: help;
}
.help:hover {
	text-decoration: underline;
}
.select {
	cursor: pointer;
	width: 18px;
	height: 16px;
	margin: 0 -5px 0 0;
}
