<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>文章列表页</title>
</head>
<body>
<div id="list">
	    <ul>
	    <dt:pagelist PageSize="10" item="first,pre,pageno,next,last,potion">
	        <li><a href="{$p.id}.html">{$p.title}(作者：{$p.source})</a> - {$p.pubdate format="yyyy年MM月dd mm:ss"}</li>
	    </dt:pagelist>
	    </ul>
        当前第{$p.currentPage}页，共{$p.totalpage}页/{$p.totalrecord}条数据
        {$p.pageitem}
	<dt:server type="time" var="time">{$time}</dt:server><br />{$gobal.pageitem}
</div>
</body>
</html>