<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>网站首页</title>
</head>
<body>
<div id="list">
	<dt:class var="class" row="10">
	    <a href="{$class.id}.html">{$class.className}</a>
	    <ul>
	    <dt:arclist var="arc" classid="$class.id" row="10">
	        <li><a href="{$arc.id}.html">{$arc.title}</a> - {$arc.pubdate format="yyyy/MM/dd mm:ss"}</li>
	    </dt:arclist>
	    </ul>
	</dt:class>
    
	<dt:server type="time" var="time">{$time}</dt:server>
</div>
</body>
</html>
