<?xml version="1.0" encoding="utf-8"?>
<SiteConfigInfo>
  <SiteOpen>1</SiteOpen>
  <WebName>DTCMS内容管理系统</WebName>
  <WebDomain>http://www.91aspx.com</WebDomain>
  <CmsPath>/</CmsPath>
  <HtmlPath>/archive</HtmlPath>
  <IndexFilename>index.html</IndexFilename>
  <MetaKeyword>电脑编程网,打造最全的电脑编程学习网站</MetaKeyword>
  <MetaDescription>web开发,javascript,xml</MetaDescription>
  <CopyRight>
    <![CDATA[
    Powered by <a href="http://www.91aspx.com/" target="_blank">DTCMS V1.0</a> &copy;2010
    ]]>
  </CopyRight>
  <AdminEmail>admin@91aspx.com</AdminEmail>
  <Beian>闽ICP备08003476号</Beian>
  <VisitType>1</VisitType>
  <DefaultTemplet>default</DefaultTemplet>
  <IndexTemplet>/{$Templet}/article/index.html</IndexTemplet>
  <ListTemplet>/{$Templet}/article/list.html</ListTemplet>
  <ArchiveTemplet>/{$Templet}/article/article.html</ArchiveTemplet>
  <IndexRule>{$ClassPath}/index.html</IndexRule>
  <ListRule>{$ClassPath}/list_{$page}.html</ListRule>
  <ArchiveRule>{$ClassPath}/{$DateTime format="yyyyMM"}/{$ID}.html</ArchiveRule>
</SiteConfigInfo>