<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>文章列表页</title>
    <style type="text/css">
    body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 100%;
	color: #333;
    }
    .pagelist a{padding:0 8px;margin:0 3px;height:20px;border:1px #74A8ED solid;color:#74A8ED;text-decoration: none;}
    </style>
</head>
<body>
<div id="list">
	    <ul>
	    <dt:pagelist PageSize="10" item="first,pre,pagenum,next,last,potion">
	        <li><a href="{$p.id}.html">{$p.title}(作者：{$p.author})</a> - {$p.pubdate format="yyyy年MM月dd mm:ss"}</li>
	    </dt:pagelist>
	    </ul>
        当前第{$gobal.currentPage}页/共{$gobal.totalpage}页，{$gobal.totalrecord}条数据
        <div class="pagelist">{$gobal.pageindex}</div>
	<dt:server type="time" var="time">{$time}</dt:server>
</div>
</body>
</html>