<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>文章列表页</title>
</head>
<body>
<div id="list">
	    <ul>
	    <dt:pagelist PageSize="10">
	        <li><a href="{$p.id}.html">{$p.title}</a> - {$p.pubdate format="yyyy/MM/dd mm:ss"}</li>
	    </dt:pagelist>
	    </ul>
        共{$list format="first,pre,pageno,next,last,potion"}页/{$list.totalrecord}条数据
        {$list.first}{$list.pre}{$list.pageno}{$list.next}{$list.last} {$list.option}
	<dt:server type="time" var="time">{$time}</dt:server>
</div>
</body>
</html>